node_modules

#JetBrains IDE Webstorm
.idea

#node
npm-debug.log
lifecycle/feature_tests/budgets/target/
lifecycle/feature_tests/budgets/LogFiles/QA/*.xml
lifecycle/feature_tests/budgets/LogFiles/QA/*.lck
lifecycle/sanity_tests/screenshots/
lifecycle/sanity_tests/*.xml

screenshots
testresults.xml
*.map

continuum/**/*.js
lifecycle/regression/**/*.js
lifecycle/tools/**/*.js
lib/**/*.js
lifecycle/smoke_tests/*.js
lifecycle/sanity_tests/**/*.js
lifecycle/states/**/*.js
